@font-face {
	font-family: 'The Dark Titan Classic';
	src: url('fonts/The Dark Titan Classic.ttf') format(TrueType);
}

*{
	margin: 0;
	padding: 0;
}

body{
	/*background: linear-gradient(to right, purple, darkgreen, green, pink);*/
	background: url('images/fondo10.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.contenido-principal {
	background: url('images/fondoStart.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px darkgrey;
	border-radius: 15px;
	width: 90%;
	padding: 1em;
}

/*Titulo del juego*/

.titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.play-img {
	width: 60%;
	height: 60%;
}

.boton {
	background-color: #000000;
	width: 200px;
	height: auto;
	cursor: pointer;
	color: #ffffff;
	padding: 5px;
	border: solid 1px grey;
	border-radius: 5px;
	font-family: 'The Dark Titan Classic';
}

.boton:hover {
	background: #ffffff;
	color: #000000;
	border: solid 1px #000000;
}


/*Formulario para ingresar coordenadas y contenedor de cartas*/

.fomulario-contenedor {
	background: linear-gradient(to right, black, darkblue, purple);
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	padding: 10px;
	align-items: center;
	border: solid 1px darkgrey;
	border-radius: 5px;
}

.img-logo {
	width: 100%;
}

.par-colocado {
	background: rgba(0, 0, 0, 0.5);;
	display: flex;
	flex-direction: column;
	padding: 5px;
	gap: 3px;
	width: 25%;
	border: solid 1px darkgrey;
	border-radius: 5px;
}

.par-class {
	color: #ffffff;
	font-family: 'The Dark Titan Classic';
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-size: 1rem;		
}

.boton {
	padding: 10px;
	border: solid 1px darkgrey;
}

.instrucciones {
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: 'The Dark Titan Classic';
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-size: 1rem;
  border: solid 1px darkgrey;
	border-radius: 5px;	
	text-align: center;
	width: 50%;
}

.cartas {
	background: linear-gradient(to right, black, darkblue, purple);
	width: 70%;
	display: flex;
	flex-direction: column;
	border: solid 1px darkgrey;
	border-radius: 5px;
	padding: 5px;
	gap: 5px;
}

.secciones-cartas {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 5px;
	width: 100%;
	height: 600px;
}

.secciones-cartas::-webkit-scrollbar {
    width: 5px; /* Ancho del scroll vertical */
    height: 5px; /* Altura del scroll horizontal */
}

.secciones-cartas::-webkit-scrollbar-track {
    background: #000000;
}

.texto-contsecciones-cartasenido::-webkit-scrollbar-thumb {
    background: darkgray; /* Color de la manija */
}

.secciones-cartas::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* Color al pasar el cursor */
}

.seccion {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.encabezado-cartas {
	background: url('images/fondo3.jpg');
	background-size: cover;
	color: #ffffff;
	font-family: 'The Dark Titan Classic';
	font-size: 1rem;
	padding: 10px;
	border: solid 1px grey;
	border-radius: 5px;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.carta {
	border: solid 1px grey;
	border-radius: 5px;
	width: 15%;
	cursor: pointer;
	transition: filter 0.3s linear;
}

.carta:hover {
  filter: brightness(1.5);
}

.contenedor-coordenadas-cartas {
	display: flex;
	width: 100%;
	height: 100%;
	gap: 5px;
}

.par-cargados {
	width: 100%;
}

#nro-coordenada {
	color: #ffffff;
}

input {
  border: 1px solid darkgrey; 
  padding: 5px; 
  border-radius: 5px; 
  font-family: 'The Dark Titan Classic';
}

.getting-started {
	width: 100%;
	border-radius: 5px;
	border: solid 1px darkgrey;
}

.contenedor-tablero-estadisticas {
	display: flex;
	justify-content: center;
	width: 70vw;
	gap: 10px;
}

.tablero-cartas {
	background: linear-gradient(to right, black, darkblue, purple);
	display: grid;
	width: 100%;
	height: 100%;
  grid-template-columns: repeat(4, auto); 
  grid-template-rows: repeat(4,auto);
  border: solid 1px darkgrey;
  border-radius: 5px;
  grid-gap: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.casilla {
	display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  aspect-ratio: 3/4;
}

.estadisticas-vidas {
	background: linear-gradient(to right, black, darkblue, purple);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	border-radius: 5px;
	border: solid 1px darkgrey;
}

.carta-reverso {
 	width: 100%;
 	height: 100%;
	border-radius: 5px;
	border: solid 1px darkgrey;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.carta-reverso:hover {
	filter: brightness(1.5);
}

.display-vidas {
	background: url('images/vidas.jpg');
	background-size: cover;
	background-position-x: 90%;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	border-radius: 5px;
	border: solid 1px darkgrey;
	justify-content: center;
	padding: 5px;
}

.display-vidas-img {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 5px;
	width: 50%;
}

.entrada-vidas {
	font-family: 'The Dark Titan Classic';
	color: #ffffff;
}

.vidas-img {
	background: url('images/fondo1.jpg');
	background-size: cover;
	width: 100%;
	height: 30px;
	border: solid 1px darkgrey;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin-left: 5px;
	gap: 5px;
	padding: 5px;
}

.vida-img {
	width: 35px;
}

.display-score {
	background: url('images/score.jpg');
	background-size: cover;
	width: 95%;
	height: 70px;
	display: flex;
	justify-content: right;
	align-items: center;
	border-radius: 5px;
	border: solid 1px darkgrey;
	padding: 5px;
}

.display-score-numbers {
	display: flex;
	flex-direction: column;
	justify-content: right;
	gap: 2px;
	width: 50%;
	padding: 5px;
}

.entrada-scores {
	font-family: 'The Dark Titan Classic';
	color: #ffffff;
}

#entrada-score {
	background: url('images/fondo8.jpg');
	background-size: cover;
	color: #ffffff;
	font-size: 2rem;
	text-shadow: 	
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}


/*modales*/

.ventana-modal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.contenido-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	border-radius: 50px;
	border: solid 1px darkgrey;
}

.banner {
  position: relative; /* Para que los elementos absolutos se posicionen dentro de este */
  background: url('images/option2.jpg');
  background-size: cover;
  background-position-y: 20%;
  width: 100%;
  height: 100%;
  border: solid 1px darkgrey;
  border-radius: 5px;
  display: flex;
}

.banner-memory {
  position: absolute;
  bottom: 10px; /* Se mueve a la parte inferior */
  left: 10px; /* Se mueve a la izquierda */
  width: 30%;
  height: 20%;
}

.tabla-seleccionar-coordenadas {
	background: linear-gradient(to right, black, darkblue, purple);
	width: 50%;
	height: 200px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	padding: 5px;
}

.coordenada-casilla {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #ffffff;
	font-family: 'The Dark Titan Classic';
	color: #ffffff;
	cursor: pointer;
}

@media (max-width: 1024px) and (min-height: 400px) {
	
	/*
	.contenedor-coordenadas-cartas {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
	}

	.fomulario-contenedor {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		border: none;
	}

	.formularios {
		width: 100%;
		padding: 5px;
		display: flex;
		gap: 5px;
	}	

	.formulario {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 100%;
	}*/

	.contenido-principal {
		min-height: 500px;
	}

	.contenedor-tablero-estadisticas {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		width: 50vw;
		gap: 10px;
		align-items: center;
	}	

	.estadisticas-vidas {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 30px;
		justify-content: center;
		border-radius: 5px;
		border: solid 1px #ffffff;
	}

	.display-vidas {
		display: flex;
		background: #000000;
		border-radius: 5px;
		width: 50%;
		max-height: 10px;
		border: solid 1px #ffffff;
		padding: 10px;
	}

	.display-vidas-img {
		width: 100%;
		height: 10px;
		display: flex;
		flex-direction: row;
		gap: 2px;
		align-items: center;
	}

	.vidas-img {
		background: none;
		width: 100%;
		border: solid 1px darkgrey;
		border-radius: 5px;
		display: flex;
		align-items: center;
		border: none;
	}

	.vida-img {
		width: 15%;
	}

	.display-score {
		background: #000000;
		display: flex;
		width: 50%;
		height: 10px;
		padding: 10px;
	}

	.cartas {
		width: 100%;
	}

	.display-score-numbers {
		display: flex;
		flex-direction: row;
		gap: 5px;
		width:100%;
		height: 10px;
		padding: 5px;
		align-items: center;
	}

	#entrada-score {
		background: none;
		font-size: 1rem;
	  width: 100%;
	  height: 10px;
	  border: none;
	}

	.contenido-modal {
		display: flex;
		align-items: center;
	}

	.img-modal {
		width: 90%;
	}

	.banner {
		display: none;
	}

}

@media (min-width: 320px) and (max-width: 480px) {
	.contenido-principal {
		margin: 2%;
	}

	.play-img {
		width: 100%;
		height: 100%;
	}

	.contenedor-coordenadas-cartas {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.par-colocado {
		width: 100%;
	}

	.instrucciones {
		width: 95%;
	}

	.tabla-seleccionar-coordenadas {
		width: 100%;
	}

	.secciones-cartas {
		display: flex;
		flex-direction: column;
		height: 130px;
		overflow-y: auto;

	}

	.seccion {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.carta {
		width: 55px;
		height: auto;
	}

	.contenedor-tablero-estadisticas {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ventana-modal{
		width: 100%;
		height: 100%;
		left: auto;
		right: auto;
	}

	.img-modal {
		width: 95%;
		border-radius: 5px;
	}

}
